
<div class="flash">
</div>

<div class="card m-3 bg-light shadow">
  <div class="card-body">
    <table class="table table-striped">
      <h5 class="card-title text-center">GOVERNANÇA</h5>
      <thead>
        <tr>
          <th scope="col">Hotel</th>
          <th scope="col">Numero do Quarto</th>
          <th scope="col">Tipo do Quarto</th>
          <th scope="col">Status</th>
          <th scope="col">Status de Governança</th>
          <th scope="col">Preço por Noite</th>
          <th scope="col">Descrição</th>
          <th scope="col">Capacidade</th>
          <%if policy(:room).update? || policy(:room).destroy? %>
          <th scope="col">Ações</th>
          <%end%>
        </tr>
      </thead>
      <tbody>
        <% @rooms.each do |room| %>
          <%= render "room", room: room %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

