
<div class="flash">
</div>

<div class="card m-3 bg-light shadow">
  <div class="card-body">
    <table class="table table-striped">
      <h5 class="card-title text-center">GOVERNANÇA</h5>
      <thead>
        <tr>
          <th scope="col">Hotel</th>
          <th scope="col">Numero do Quarto</th>
          <th scope="col">Tipo do Quarto</th>
          <th scope="col">Status</th>
          <th scope="col">Status de Governança</th>
          <th scope="col">Preço por Noite</th>
          <th scope="col">Descrição</th>
          <th scope="col">Capacidade</th>
          <%if policy(:room).update? || policy(:room).destroy? %>
          <th scope="col">Ações</th>
          <%end%>
        </tr>
      </thead>
      <tbody>
        <% @rooms.each do |room| %>
          <%= render "room", room: room %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= button_to "modal", new_room_path, data: { bs_toggle: "modal", bs_target: "#exampleModal", turbo_frame: "new_edit_room"  } %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag "new_edit_room" %>
      </div>
    </div>
  </div>
</div>

